<!DOCTYPE html>
<html lang="en">

<!-- Head Tag -->
<!-- Title contains dynamic country name -->
<head>
	<meta charset="utf-8">
	<title>Details of {{country_name}}</title>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<!-- Start the body of the HTML -->
<body>
<h1>Details of {{country_name}}</h1>

<h3> National Flag: </h3>
<!-- A link back to the beginning by clicking on the flag. -->
<!-- Also contains alternate text in case the flag image is broken/doesn't load -->	
<a href="../front.html"><img src="{{url_for('static', filename='flags/')}}{{country_tech_name}}.gif" alt="{{country_name}} Flag / Link to Home" class="countryFlagBox"></a>

<p class="subText"> Click the Flag to Return Home</p>

<!-- A line followed by a spacer -->
<div class="lineBox"></div>
<div class="spacerBox"></div>

<h3> Country Details </h3>

<!-- An unordered list containing data provided by Python -->
<div class = "centerBox">
	<ul>
		<li> Capital City: <a href="../city/{{city_tech_name}}">{{capital}}</a>
		<li> Population: {{population}} 
	</ul>
</div> 

<!-- A spacer followed by a line -->
<div class="spacerBox"></div>
<div class="lineBox"></div>

<!-- Page last queried date/time -->
<h3> This page was last queried at {{date_time}} </h3>

<!-- Close it all down, end the body and the html -->
</body>
</html>