<!DOCTYPE html>
<html lang="en">

<!-- Head Tag -->
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<!-- Start the body of the HTML -->
<body>

<h1> Countries of Europe Home </h1>
<div class = "lineBox"></div>
<h3> Please Login </h3>

<!-- The form used to either sign-up or login -->
<form action="index.html" method="post">

<div class = "centerBox">
	<center>
	<label for="email">E-Mail Address</label>
		<br>
		<input 
			type="email"
			id="email"
			name="email"
			placeholder="e-mail address"
		/>
		<br>
		<br>
	<label for="password">Password</label> 
		<br>
		<input 
			type="password"
			id="password"
			name="password"
			placeholder="password"
		/>
	</center>
</div>
<div class = "spacerBox"></div>
	<center>
    <input type="submit" class="submit" value="Log In">
	</center>
</form>

{% with messages = get_flashed_messages(with_categories=false) %}
{% if messages %}
	{% for message in messages %}
		<div class="alert">
		{{ message }}
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endwith %}

<div class = "spacerBar"></div>
<h3> Don't have an account? <a href="./signup.html">Create One Here!</a></h3>

<!-- A spacer followed by a line -->
<div class="spacerBox"></div>
<div class="lineBox"></div>

<!-- Page last queried date/time -->
<h3> This page was last queried at {{date_time}} </h3>

<!-- Close it all down, end the body and the html -->
</body>
</html>