<!DOCTYPE html>
<html lang="en">

<!-- Head Tag -->
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<!-- Start the body of the HTML -->
<body>

<h1> logged in </h1>

</form>

<!-- A spacer followed by a line -->
<div class="spacerBox"></div>
<div class="lineBox"></div>

<!-- Page last queried date/time -->
<h3> This page was last queried at {{date_time}} </h3>

<!-- Close it all down, end the body and the html -->
</body>
</html>